# Gradle

.gradle/
build/
out/
classes/

# Eclipse

*.launch

# IntelliJ IDEA

.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code

.settings/
bin/
.classpath
.project

# macos

*.DS_Store

# Other

.architectury-transformer/
run/
remappedSrc/
logs/
